<div>
  <form [formGroup]="form" (ngSubmit)="_onSubmit()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control"
        formControlName="username" />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="text" class="form-control"
        formControlName="password" />
    </div>
    <button type="submit">Login</button>
  </form>
</div>
