<div class="container">
  <div *ngIf="(isSessionCheckReady$ | async); else loading">

    <div *ngIf="!(authState$ | async).isAuthenticated; else authenticated">
      <app-login></app-login>
    </div>
    <ng-template #authenticated>
      <h3>Logged in as {{(user$ | async).username}}</h3>
      <button type="button" (click)="_logout()">Logout</button>
    </ng-template>

  </div>

  <ng-template #loading>
    <h5>Loading...</h5>
  </ng-template>

</div>
